<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="archivo" class="LoggerAppenderDailyFile">
      <layout class="LoggerLayoutPattern">
        <param name="conversionPattern" value="%date{Y-m-d H:i:s,u} %-5level: %msg %location%n{%C.%M(%F:%L)}" />
      </layout>
      <param name="file" value="../Logs/log-%s.log" />
      <param name="datePattern" value="Y-m-d" />
      <param name="append" value="true" />
    </appender>
    <root>
        <level value="INFO" />
        <appender_ref ref="archivo" />
    </root>
</configuration>
