.card-content{
/*  min-height: 300px;*/
}
.card .x-large{
  height: 600px;
}
.card .xx-large{
  height: 800px;
}

.collection.small{
  min-height: 220px !important;
  max-height: 220px !important;
  overflow: auto;
}
a[class^=eliminar]{
  cursor: pointer;
}
a[class^=agregar]{
  cursor: pointer;
}
.dvnegativos{
  display: none;
}
.deshabilitado
{
    display: none;
}
